*.iml
.idea
.gradle
build
/local.properties
.DS_Store
*.log
*.keystore
*.jks
*.apk
*.ap_
*.aab
*.zip
*.tar.gz
*.class
*.dex
*.so
*.db
*.sqlite
*.orig
*.tmp
*.swp
*.bak
*.pid
*.seed
*.env
*.env.*
.output.txt
.kotlin
yarn.lock